<div class="footer-basic mt-3">
    <div class="social mt-3"><a href="#">
      <i class="fa-brands fa-linkedin"></i></a><a href="#">
      <i class="fa-brands fa-square-facebook"></i></a><a href="#">
      <i class="fa-brands fa-instagram"></i></a><a href="#">
      <i class="fa-brands fa-square-github"></i></a>
    </div>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
    <p class="copyright">Pitches for fun © 2023</p>
</div>
