.index-card-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
  margin-bottom: 24px;
  a {
    text-decoration: none;
    color: #082e4c;
  }
}

.price{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 9px;
  margin-right: 15px;
}

.rating{
  position: absolute;
  bottom: 0;
  margin-bottom: 9px;
}

.btn-outline-primary{
  --bs-btn-color: #548e60;
  --bs-btn-border-color: #548e60;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #548e60;
  --bs-btn-hover-border-color: #548e60;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #548e60;
  --bs-btn-active-border-color: #548e60;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #548e60;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #548e60;
  --bs-gradient: none;
}
