.avatar-img{
  border: 1px rgba(133, 133, 133, 0.372) solid;
  box-shadow: 1px 1px 8px rgba(133, 133, 133, 0.372);
  width: 200px;
}

.card-name{
  width: 30vh;
  height: 10vh;
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  box-shadow: 1px 1px 8px rgba(133, 133, 133, 0.372);
}
